[info] WhereTZ Start
[info] Read json ...
[info] Decode json ...
[info] Parse and insert ...
[info] Add zone "Africa/Abidjan"
[info] Add zone "Africa/Accra"
[info] Add zone "Africa/Addis_Ababa"
[info] Add zone "Africa/Algiers"
[info] Add zone "Africa/Asmara"
[info] Add zone "Africa/Bamako"
[info] Add zone "Africa/Bangui"
[info] Add zone "Africa/Banjul"
[info] Add zone "Africa/Bissau"
[info] Add zone "Africa/Blantyre"
[info] Add zone "Africa/Brazzaville"
[info] Add zone "Africa/Bujumbura"
[info] Add zone "Africa/Cairo"
[info] Add zone "Africa/Casablanca"
[info] Add zone "Africa/Ceuta"
[info] Add zone "Africa/Conakry"
[info] Add zone "Africa/Dakar"
[info] Add zone "Africa/Dar_es_Salaam"
[info] Add zone "Africa/Djibouti"
[info] Add zone "Africa/Douala"
[info] Add zone "Africa/El_Aaiun"
[info] Add zone "Africa/Freetown"
[info] Add zone "Africa/Gaborone"
[info] Add zone "Africa/Harare"
[info] Add zone "Africa/Johannesburg"
[info] Add zone "Africa/Juba"
[info] Add zone "Africa/Kampala"
[info] Add zone "Africa/Khartoum"
[info] Add zone "Africa/Kigali"
[info] Add zone "Africa/Kinshasa"
[info] Add zone "Africa/Lagos"
[info] Add zone "Africa/Libreville"
[info] Add zone "Africa/Lome"
[info] Add zone "Africa/Luanda"
[info] Add zone "Africa/Lubumbashi"
[info] Add zone "Africa/Lusaka"
[info] Add zone "Africa/Malabo"
[info] Add zone "Africa/Maputo"
[info] Add zone "Africa/Maseru"
[info] Add zone "Africa/Mbabane"
[info] Add zone "Africa/Mogadishu"
[info] Add zone "Africa/Monrovia"
[info] Add zone "Africa/Nairobi"
[info] Add zone "Africa/Ndjamena"
[info] Add zone "Africa/Niamey"
[info] Add zone "Africa/Nouakchott"
[info] Add zone "Africa/Ouagadougou"
[info] Add zone "Africa/Porto-Novo"
[info] Add zone "Africa/Sao_Tome"
[info] Add zone "Africa/Tripoli"
[info] Add zone "Africa/Tunis"
[info] Add zone "Africa/Windhoek"
[info] Add zone "America/Adak"
[info] Add zone "America/Anchorage"
[info] Add zone "America/Anguilla"
[info] Add zone "America/Antigua"
[info] Add zone "America/Aruba"
[info] Add zone "America/Araguaina"
[info] Add zone "America/Argentina/Buenos_Aires"
[info] Add zone "America/Argentina/Catamarca"
[info] Add zone "America/Argentina/Cordoba"
[info] Add zone "America/Argentina/Jujuy"
[info] Add zone "America/Argentina/La_Rioja"
[info] Add zone "America/Argentina/Mendoza"
[info] Add zone "America/Argentina/Rio_Gallegos"
[info] Add zone "America/Argentina/Salta"
[info] Add zone "America/Argentina/San_Juan"
[info] Add zone "America/Argentina/San_Luis"
[info] Add zone "America/Argentina/Tucuman"
[info] Add zone "America/Argentina/Ushuaia"
[info] Add zone "America/Asuncion"
[info] Add zone "America/Atikokan"
[info] Add zone "America/Bahia"
[info] Add zone "America/Bahia_Banderas"
[info] Add zone "America/Barbados"
[info] Add zone "America/Belem"
[info] Add zone "America/Belize"
[info] Add zone "America/Blanc-Sablon"
[info] Add zone "America/Boa_Vista"
[info] Add zone "America/Bogota"
[info] Add zone "America/Boise"
[info] Add zone "America/Cambridge_Bay"
[info] Add zone "America/Campo_Grande"
[info] Add zone "America/Cancun"
[info] Add zone "America/Caracas"
[info] Add zone "America/Cayenne"
[info] Add zone "America/Cayman"
[info] Add zone "America/Chicago"
[info] Add zone "America/Chihuahua"
[info] Add zone "America/Costa_Rica"
[info] Add zone "America/Creston"
[info] Add zone "America/Cuiaba"
[info] Add zone "America/Curacao"
[info] Add zone "America/Danmarkshavn"
[info] Add zone "America/Dawson"
[info] Add zone "America/Dawson_Creek"
[info] Add zone "America/Denver"
[info] Add zone "America/Detroit"
[info] Add zone "America/Dominica"
[info] Add zone "America/Edmonton"
[info] Add zone "America/Eirunepe"
[info] Add zone "America/El_Salvador"
[info] Add zone "America/Fort_Nelson"
[info] Add zone "America/Fortaleza"
[info] Add zone "America/Glace_Bay"
[info] Add zone "America/Godthab"
[info] Add zone "America/Goose_Bay"
[info] Add zone "America/Grand_Turk"
[info] Add zone "America/Grenada"
[info] Add zone "America/Guadeloupe"
[info] Add zone "America/Guatemala"
[info] Add zone "America/Guayaquil"
[info] Add zone "America/Guyana"
[info] Add zone "America/Halifax"
[info] Add zone "America/Havana"
[info] Add zone "America/Hermosillo"
[info] Add zone "America/Indiana/Indianapolis"
[info] Add zone "America/Indiana/Knox"
[info] Add zone "America/Indiana/Marengo"
[info] Add zone "America/Indiana/Petersburg"
[info] Add zone "America/Indiana/Tell_City"
[info] Add zone "America/Indiana/Vevay"
[info] Add zone "America/Indiana/Vincennes"
[info] Add zone "America/Indiana/Winamac"
[info] Add zone "America/Inuvik"
[info] Add zone "America/Iqaluit"
[info] Add zone "America/Jamaica"
[info] Add zone "America/Juneau"
[info] Add zone "America/Kentucky/Louisville"
[info] Add zone "America/Kentucky/Monticello"
[info] Add zone "America/Kralendijk"
[info] Add zone "America/La_Paz"
[info] Add zone "America/Lima"
[info] Add zone "America/Los_Angeles"
[info] Add zone "America/Lower_Princes"
[info] Add zone "America/Maceio"
[info] Add zone "America/Managua"
[info] Add zone "America/Manaus"
[info] Add zone "America/Marigot"
[info] Add zone "America/Martinique"
[info] Add zone "America/Matamoros"
[info] Add zone "America/Mazatlan"
[info] Add zone "America/Miquelon"
[info] Add zone "America/Menominee"
[info] Add zone "America/Merida"
[info] Add zone "America/Metlakatla"
[info] Add zone "America/Mexico_City"
[info] Add zone "America/Moncton"
[info] Add zone "America/Monterrey"
[info] Add zone "America/Montevideo"
[info] Add zone "America/Montserrat"
[info] Add zone "America/Nassau"
[info] Add zone "America/New_York"
[info] Add zone "America/Nipigon"
[info] Add zone "America/Nome"
[info] Add zone "America/Noronha"
[info] Add zone "America/North_Dakota/Beulah"
[info] Add zone "America/North_Dakota/Center"
[info] Add zone "America/North_Dakota/New_Salem"
[info] Add zone "America/Ojinaga"
[info] Add zone "America/Panama"
[info] Add zone "America/Pangnirtung"
[info] Add zone "America/Paramaribo"
[info] Add zone "America/Phoenix"
[info] Add zone "America/Port-au-Prince"
[info] Add zone "America/Port_of_Spain"
[info] Add zone "America/Porto_Velho"
[info] Add zone "America/Puerto_Rico"
[info] Add zone "America/Punta_Arenas"
[info] Add zone "America/Rainy_River"
[info] Add zone "America/Rankin_Inlet"
[info] Add zone "America/Recife"
[info] Add zone "America/Regina"
[info] Add zone "America/Resolute"
[info] Add zone "America/Rio_Branco"
[info] Add zone "America/Santarem"
[info] Add zone "America/Santiago"
[info] Add zone "America/Santo_Domingo"
[info] Add zone "America/Sao_Paulo"
[info] Add zone "America/Scoresbysund"
[info] Add zone "America/Sitka"
[info] Add zone "America/St_Barthelemy"
[info] Add zone "America/St_Johns"
[info] Add zone "America/St_Kitts"
[info] Add zone "America/St_Lucia"
[info] Add zone "America/St_Thomas"
[info] Add zone "America/St_Vincent"
[info] Add zone "America/Swift_Current"
[info] Add zone "America/Tegucigalpa"
[info] Add zone "America/Thule"
[info] Add zone "America/Thunder_Bay"
[info] Add zone "America/Tijuana"
[info] Add zone "America/Toronto"
[info] Add zone "America/Tortola"
[info] Add zone "America/Vancouver"
[info] Add zone "America/Whitehorse"
[info] Add zone "America/Winnipeg"
[info] Add zone "America/Yakutat"
[info] Add zone "America/Yellowknife"
[info] Add zone "Antarctica/Casey"
[info] Add zone "Antarctica/Davis"
[info] Add zone "Antarctica/DumontDUrville"
[info] Add zone "Antarctica/Macquarie"
[info] Add zone "Antarctica/Mawson"
[info] Add zone "Antarctica/McMurdo"
[info] Add zone "Antarctica/Palmer"
[info] Add zone "Antarctica/Rothera"
[info] Add zone "Antarctica/Syowa"
[info] Add zone "Antarctica/Troll"
[info] Add zone "Antarctica/Vostok"
[info] Add zone "Arctic/Longyearbyen"
[info] Add zone "Asia/Aden"
[info] Add zone "Asia/Almaty"
[info] Add zone "Asia/Amman"
[info] Add zone "Asia/Anadyr"
[info] Add zone "Asia/Aqtau"
[info] Add zone "Asia/Aqtobe"
[info] Add zone "Asia/Ashgabat"
[info] Add zone "Asia/Atyrau"
[info] Add zone "Asia/Baghdad"
[info] Add zone "Asia/Bahrain"
[info] Add zone "Asia/Baku"
[info] Add zone "Asia/Bangkok"
[info] Add zone "Asia/Barnaul"
[info] Add zone "Asia/Beirut"
[info] Add zone "Asia/Bishkek"
[info] Add zone "Asia/Brunei"
[info] Add zone "Asia/Chita"
[info] Add zone "Asia/Choibalsan"
[info] Add zone "Asia/Colombo"
[info] Add zone "Asia/Damascus"
[info] Add zone "Asia/Dhaka"
[info] Add zone "Asia/Dili"
[info] Add zone "Asia/Dubai"
[info] Add zone "Asia/Dushanbe"
[info] Add zone "Asia/Famagusta"
[info] Add zone "Asia/Gaza"
[info] Add zone "Asia/Hebron"
[info] Add zone "Asia/Ho_Chi_Minh"
[info] Add zone "Asia/Hong_Kong"
[info] Add zone "Asia/Hovd"
[info] Add zone "Asia/Irkutsk"
[info] Add zone "Asia/Jakarta"
[info] Add zone "Asia/Jayapura"
[info] Add zone "Asia/Jerusalem"
[info] Add zone "Asia/Kabul"
[info] Add zone "Asia/Kamchatka"
[info] Add zone "Asia/Karachi"
[info] Add zone "Asia/Kathmandu"
[info] Add zone "Asia/Khandyga"
[info] Add zone "Asia/Kolkata"
[info] Add zone "Asia/Krasnoyarsk"
[info] Add zone "Asia/Kuala_Lumpur"
[info] Add zone "Asia/Kuching"
[info] Add zone "Asia/Kuwait"
[info] Add zone "Asia/Macau"
[info] Add zone "Asia/Magadan"
[info] Add zone "Asia/Makassar"
[info] Add zone "Asia/Manila"
[info] Add zone "Asia/Muscat"
[info] Add zone "Asia/Nicosia"
[info] Add zone "Asia/Novokuznetsk"
[info] Add zone "Asia/Novosibirsk"
[info] Add zone "Asia/Omsk"
[info] Add zone "Asia/Oral"
[info] Add zone "Asia/Phnom_Penh"
[info] Add zone "Asia/Pontianak"
[info] Add zone "Asia/Pyongyang"
[info] Add zone "Asia/Qatar"
[info] Add zone "Asia/Qostanay"
[info] Add zone "Asia/Qyzylorda"
[info] Add zone "Asia/Riyadh"
[info] Add zone "Asia/Samarkand"
[info] Add zone "Asia/Sakhalin"
[info] Add zone "Asia/Seoul"
[info] Add zone "Asia/Shanghai"
[info] Add zone "Asia/Singapore"
[info] Add zone "Asia/Srednekolymsk"
[info] Add zone "Asia/Taipei"
[info] Add zone "Asia/Tashkent"
[info] Add zone "Asia/Tbilisi"
[info] Add zone "Asia/Tehran"
[info] Add zone "Asia/Thimphu"
[info] Add zone "Asia/Tokyo"
[info] Add zone "Asia/Tomsk"
[info] Add zone "Asia/Ulaanbaatar"
[info] Add zone "Asia/Urumqi"
[info] Add zone "Asia/Ust-Nera"
[info] Add zone "Asia/Vientiane"
[info] Add zone "Asia/Vladivostok"
[info] Add zone "Asia/Yakutsk"
[info] Add zone "Asia/Yangon"
[info] Add zone "Asia/Yekaterinburg"
[info] Add zone "Asia/Yerevan"
[info] Add zone "Atlantic/Azores"
[info] Add zone "Atlantic/Bermuda"
[info] Add zone "Atlantic/Canary"
[info] Add zone "Atlantic/Cape_Verde"
[info] Add zone "Atlantic/Faroe"
[info] Add zone "Atlantic/Madeira"
[info] Add zone "Atlantic/Reykjavik"
[info] Add zone "Atlantic/South_Georgia"
[info] Add zone "Atlantic/St_Helena"
[info] Add zone "Atlantic/Stanley"
[info] Add zone "Australia/Adelaide"
[info] Add zone "Australia/Brisbane"
[info] Add zone "Australia/Broken_Hill"
[info] Add zone "Australia/Currie"
[info] Add zone "Australia/Darwin"
[info] Add zone "Australia/Eucla"
[info] Add zone "Australia/Hobart"
[info] Add zone "Australia/Lindeman"
[info] Add zone "Australia/Lord_Howe"
[info] Add zone "Australia/Melbourne"
[info] Add zone "Australia/Perth"
[info] Add zone "Australia/Sydney"
[info] Add zone "Etc/UTC"
[info] Add zone "Europe/Amsterdam"
[info] Add zone "Europe/Andorra"
[info] Add zone "Europe/Astrakhan"
[info] Add zone "Europe/Athens"
[info] Add zone "Europe/Belgrade"
[info] Add zone "Europe/Berlin"
[info] Add zone "Europe/Bratislava"
[info] Add zone "Europe/Brussels"
[info] Add zone "Europe/Bucharest"
[info] Add zone "Europe/Budapest"
[info] Add zone "Europe/Busingen"
[info] Add zone "Europe/Chisinau"
[info] Add zone "Europe/Copenhagen"
[info] Add zone "Europe/Dublin"
[info] Add zone "Europe/Gibraltar"
[info] Add zone "Europe/Guernsey"
[info] Add zone "Europe/Helsinki"
[info] Add zone "Europe/Isle_of_Man"
[info] Add zone "Europe/Istanbul"
[info] Add zone "Europe/Jersey"
[info] Add zone "Europe/Kaliningrad"
[info] Add zone "Europe/Kiev"
[info] Add zone "Europe/Kirov"
[info] Add zone "Europe/Lisbon"
[info] Add zone "Europe/Ljubljana"
[info] Add zone "Europe/London"
[info] Add zone "Europe/Luxembourg"
[info] Add zone "Europe/Madrid"
[info] Add zone "Europe/Malta"
[info] Add zone "Europe/Mariehamn"
[info] Add zone "Europe/Minsk"
[info] Add zone "Europe/Monaco"
[info] Add zone "Europe/Moscow"
[info] Add zone "Europe/Oslo"
[info] Add zone "Europe/Paris"
[info] Add zone "Europe/Podgorica"
[info] Add zone "Europe/Prague"
[info] Add zone "Europe/Riga"
[info] Add zone "Europe/Rome"
[info] Add zone "Europe/Samara"
[info] Add zone "Europe/San_Marino"
[info] Add zone "Europe/Sarajevo"
[info] Add zone "Europe/Saratov"
[info] Add zone "Europe/Simferopol"
[info] Add zone "Europe/Skopje"
[info] Add zone "Europe/Sofia"
[info] Add zone "Europe/Stockholm"
[info] Add zone "Europe/Tallinn"
[info] Add zone "Europe/Tirane"
[info] Add zone "Europe/Ulyanovsk"
[info] Add zone "Europe/Uzhgorod"
[info] Add zone "Europe/Vaduz"
[info] Add zone "Europe/Vatican"
[info] Add zone "Europe/Vienna"
[info] Add zone "Europe/Vilnius"
[info] Add zone "Europe/Volgograd"
[info] Add zone "Europe/Warsaw"
[info] Add zone "Europe/Zagreb"
[info] Add zone "Europe/Zaporozhye"
[info] Add zone "Europe/Zurich"
[info] Add zone "Indian/Antananarivo"
[info] Add zone "Indian/Chagos"
[info] Add zone "Indian/Christmas"
[info] Add zone "Indian/Cocos"
[info] Add zone "Indian/Comoro"
[info] Add zone "Indian/Kerguelen"
[info] Add zone "Indian/Mahe"
[info] Add zone "Indian/Maldives"
[info] Add zone "Indian/Mauritius"
[info] Add zone "Indian/Mayotte"
[info] Add zone "Indian/Reunion"
[info] Add zone "Pacific/Apia"
[info] Add zone "Pacific/Auckland"
[info] Add zone "Pacific/Bougainville"
[info] Add zone "Pacific/Chatham"
[info] Add zone "Pacific/Chuuk"
[info] Add zone "Pacific/Easter"
[info] Add zone "Pacific/Efate"
[info] Add zone "Pacific/Enderbury"
[info] Add zone "Pacific/Fakaofo"
[info] Add zone "Pacific/Fiji"
[info] Add zone "Pacific/Funafuti"
[info] Add zone "Pacific/Galapagos"
[info] Add zone "Pacific/Gambier"
[info] Add zone "Pacific/Guadalcanal"
[info] Add zone "Pacific/Guam"
[info] Add zone "Pacific/Honolulu"
[info] Add zone "Pacific/Kiritimati"
[info] Add zone "Pacific/Kosrae"
[info] Add zone "Pacific/Kwajalein"
[info] Add zone "Pacific/Majuro"
[info] Add zone "Pacific/Marquesas"
[info] Add zone "Pacific/Midway"
[info] Add zone "Pacific/Nauru"
[info] Add zone "Pacific/Niue"
[info] Add zone "Pacific/Norfolk"
[info] Add zone "Pacific/Noumea"
[info] Add zone "Pacific/Pago_Pago"
[info] Add zone "Pacific/Palau"
[info] Add zone "Pacific/Pitcairn"
[info] Add zone "Pacific/Pohnpei"
[info] Add zone "Pacific/Port_Moresby"
[info] Add zone "Pacific/Rarotonga"
[info] Add zone "Pacific/Saipan"
[info] Add zone "Pacific/Tahiti"
[info] Add zone "Pacific/Tarawa"
[info] Add zone "Pacific/Tongatapu"
[info] Add zone "Pacific/Wake"
[info] Add zone "Pacific/Wallis"
[info] Add zone "Etc/GMT-12"
[info] Add zone "Etc/GMT-11"
[info] Add zone "Etc/GMT-10"
[info] Add zone "Etc/GMT-9"
[info] Add zone "Etc/GMT-8"
[info] Add zone "Etc/GMT-7"
[info] Add zone "Etc/GMT-6"
[info] Add zone "Etc/GMT-5"
[info] Add zone "Etc/GMT-4"
[info] Add zone "Etc/GMT-3"
[info] Add zone "Etc/GMT-2"
[info] Add zone "Etc/GMT-1"
[info] Add zone "Etc/GMT"
[info] Add zone "Etc/GMT+1"
[info] Add zone "Etc/GMT+2"
[info] Add zone "Etc/GMT+3"
[info] Add zone "Etc/GMT+4"
[info] Add zone "Etc/GMT+5"
[info] Add zone "Etc/GMT+6"
[info] Add zone "Etc/GMT+7"
[info] Add zone "Etc/GMT+8"
[info] Add zone "Etc/GMT+9"
[info] Add zone "Etc/GMT+10"
[info] Add zone "Etc/GMT+11"
[info] Add zone "Etc/GMT+12"
[info] Ready
.json .hll {background-color: #49483e}
.json {color: #f8f8f2; background-color: #272822}.json .unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.json .bp {color: #f8f8f2; } /* :name_builtin_pseudo */
.json .c {color: #75715e; } /* :comment */
.json .c1 {color: #75715e; } /* :comment_single */
.json .ch {color: #75715e; } /* :comment_hashbang */
.json .cm {color: #75715e; } /* :comment_multiline */
.json .cp {color: #75715e; } /* :comment_preproc */
.json .cpf {color: #75715e; } /* :comment_preproc_file */
.json .cs {color: #75715e; } /* :comment_special */
.json .dl {color: #e6db74; } /* :string_delimiter */
.json .err {color: #960050; background-color: #1e0010; } /* :error */
.json .fm {color: #a6e22e; } /* :name_function_magic */
.json .gd {color: #f92672; } /* :generic_deleted */
.json .ge {font-style: italic; } /* :generic_emph */
.json .gi {color: #a6e22e; } /* :generic_inserted */
.json .gs {font-weight: bold; } /* :generic_strong */
.json .gu {color: #75715e; } /* :generic_subheading */
.json .il {color: #ae81ff; } /* :number_integer_long */
.json .k {color: #66d9ef; } /* :keyword */
.json .kc {color: #66d9ef; } /* :keyword_constant */
.json .kd {color: #66d9ef; } /* :keyword_declaration */
.json .kn {color: #f92672; } /* :keyword_namespace */
.json .kp {color: #66d9ef; } /* :keyword_pseudo */
.json .kr {color: #66d9ef; } /* :keyword_reserved */
.json .kt {color: #66d9ef; } /* :keyword_type */
.json .l {color: #ae81ff; } /* :literal */
.json .ld {color: #ae81ff; } /* :literal_date */
.json .m {color: #ae81ff; } /* :number */
.json .mb {color: #ae81ff; } /* :number_bin */
.json .mf {color: #ae81ff; } /* :number_float */
.json .mh {color: #ae81ff; } /* :number_hex */
.json .mi {color: #ae81ff; } /* :number_integer */
.json .mo {color: #ae81ff; } /* :number_oct */
.json .n {color: #f8f8f2; } /* :name */
.json .na {color: #a6e22e; } /* :name_attribute */
.json .nb {color: #f8f8f2; } /* :name_builtin */
.json .nc {color: #a6e22e; } /* :name_class */
.json .nd {color: #a6e22e; } /* :name_decorator */
.json .ne {color: #a6e22e; } /* :name_exception */
.json .nf {color: #a6e22e; } /* :name_function */
.json .ni {color: #f8f8f2; } /* :name_entity */
.json .nl {color: #f8f8f2; } /* :name_label */
.json .nn {color: #f8f8f2; } /* :name_namespace */
.json .no {color: #66d9ef; } /* :name_constant */
.json .nt {color: #f92672; } /* :name_tag */
.json .nv {color: #f8f8f2; } /* :name_variable */
.json .nx {color: #a6e22e; } /* :name_other */
.json .o {color: #f92672; } /* :operator */
.json .ow {color: #f92672; } /* :operator_word */
.json .p {color: #f8f8f2; } /* :punctuation */
.json .py {color: #f8f8f2; } /* :name_property */
.json .s {color: #e6db74; } /* :string */
.json .s1 {color: #e6db74; } /* :string_single */
.json .s2 {color: #e6db74; } /* :string_double */
.json .sa {color: #e6db74; } /* :string_affix */
.json .sb {color: #e6db74; } /* :string_backtick */
.json .sc {color: #e6db74; } /* :string_char */
.json .sd {color: #e6db74; } /* :string_doc */
.json .se {color: #ae81ff; } /* :string_escape */
.json .sh {color: #e6db74; } /* :string_heredoc */
.json .si {color: #e6db74; } /* :string_interpol */
.json .sr {color: #e6db74; } /* :string_regex */
.json .ss {color: #e6db74; } /* :string_symbol */
.json .sx {color: #e6db74; } /* :string_other */
.json .sx {color: #e6db74; } /* :string_sigil */
.json .vc {color: #f8f8f2; } /* :name_variable_class */
.json .vg {color: #f8f8f2; } /* :name_variable_global */
.json .vi {color: #f8f8f2; } /* :name_variable_instance */
.json .vm {color: #f8f8f2; } /* :name_variable_magic */
