<ul class="p-2 bg-base-200">
    <li><%= link "Offerings", to: Routes.source_index_path(@conn, :index) %></li>
    <li><%= link "Queries", to: Routes.query_index_path(@conn, :index) %></li>
    <li><%= link "Visions", to: Routes.vision_index_path(@conn, :index) %></li>
    <li><%= link "Foci", to: Routes.foci_index_path(@conn, :index) %></li>
    <li><%= link raw("Pythi&aelig;"), to: Routes.pythiae_index_path(@conn, :index) %></li>
    <li><%= link "Ankyra", to: Routes.ankyra_index_path(@conn, :index) %></li>
</ul>