<main class="container mx-auto z-20">
    <div class="toast">
        <div class="alert alert-info" role="alert"
             phx-click="lv:clear-flash"
             phx-value-key="info"><%= Phoenix.Flash.get(@flash, :info) %></div>

        <div class="alert alert-error" role="alert"
             phx-click="lv:clear-flash"
             phx-value-key="error"><%= Phoenix.Flash.get(@flash, :error) %></div>
    </div>

    <%= @inner_content %>
</main>
