<div>
  <h2><%= @title %></h2>

  <.simple_form
    for={@form}
    id="direction-form"
    phx-target={@myself}
    phx-change="validate"
    phx-submit="save">

    <.input field={@form[:route_id]} type="text" label="Route ID" />
    <.input field={@form[:direction_id]} type="number" label="Direction ID" />
    <.input field={@form[:direction]} type="text" label="Direction" />

    <div>
      <%= submit "Save", phx_disable_with: "Saving..." %>
    </div>
  </.simple_form>
</div>
